.App {
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  margin: 0;
}
.header{
  color: white;
  background-color:#25CCF7;
  padding: 10px;
  width: 100%;
}
.form{
 margin-top: 14px;
}
.data {
  display: flex;
  margin-top: 15%;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.data_value{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 9px 5px 9px 5px;
 
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}